<header class="header">
    <div class="header-container">
        <div class="header-content">
            <div class="header-left">
                <div class="header-logo">
                   <img src="appicon.png" height="48" width="48" />
                </div>
                <div>
                    <h1 class="header-title">Prism AI</h1>
                    <p class="header-subtitle">Your Personal Experience Curator</p>
                </div>
            </div>
            
            <div class="header-right">
                
                <div class="dropdown-container">
                    <button @onclick="ToggleDropdown" class="menu-dropdown-button" @onclick:stopPropagation="true">
                        <span class="menu-icon">☰</span>
                        <span class="menu-text">Menu</span>
                        <span class="dropdown-arrow @(_isDropdownOpen ? "dropdown-arrow-open" : "")">▼</span>
                    </button>

                    @if (_isDropdownOpen)
                    {
                        <div class="menu-dropdown" @onclick:stopPropagation="true">
                            <Menu OnSavedExperiencesClick="OpenSavedExperiencesModal"
                                  OnChatClick="OpenChatModal" OnStartOver="OnStartOver" OnProfileClick="OpenUserProfile"></Menu>
                        </div>
                    }
                </div>


            </div>
        </div>
    </div>
</header>