<div class="menu-container">
    <button class="menu-item-button" @onclick="OnSavedExperiencesClick">
        <span class="menu-item-icon">💾</span>
        <span class="menu-item-text">Saved Experiences</span>
    </button>

    @* <button class="menu-item-button" @onclick="OnChatClick">
        <span class="menu-item-icon">💬</span>
        <span class="menu-item-text">Prism AI Experience Agent</span>
    </button> *@
    <button @onclick="OnStartOver" class="menu-item-button">
        <span class="menu-item-icon">🔄</span>
        <span class="menu-item-text">Start Over</span>
    </button>
    <button class="menu-item-button" @onclick="OnProfileClick">
        <span class="menu-item-icon">👤</span>
        <span class="menu-item-text">Profile</span>
    </button>
</div>